@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --red--e84: #e8424a;
  --gray--77d: #777d92;
  --gray--374: #37485f;
  --gray--5f: #5f5f5f;
  --gray--161: #161e28;
  --gray--0c1: #0c1116;
  --gray--1b: #1b1b1b;
  --gray--34: #343434;
  --cyan-2f: #2f9881;
  --blue-237: #2374e1;
  --blue-009: #0091ff;
  --yellow-f5: #f5e205;
  --mt-100: 100px;
}

[data-theme=dark] {
  --white: #000;
  --black: #fff;
  --red--e84: #e8424a;
  --gray--77d: #777d92;
  --gray--5f: #5f5f5f;
  --gray--161: #161e28;
  --gray--0c1: #0c1116;
  --yellow-f5: #f5e205;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--black);
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Inter", sans-serif;
  border: 0;
  color: var(--white);
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: unset;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  color: var(--white);
}

img {
  display: block;
  max-width: 100%;
}

.mx-auto {
  margin: auto;
}

/*===========================================================================*/
.w-35px {
  width: 2.1875rem;
}

.w-61px {
  width: 3.8125rem;
}

.w-250 {
  width: 15.625rem;
}

.w-35 {
  width: 35%;
}

.w-100 {
  width: 100%;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-19 {
  font-size: 1.1875rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-27 {
  font-size: 1.6875rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-42 {
  font-size: 2.625rem;
}

.fs-48 {
  font-size: 3rem;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  height: 3rem;
  background-color: transparent;
  color: var(--white);
  outline: none;
}

/*=================================================================*/
.fill-black {
  fill: var(--black);
}

.strock-black {
  stroke: var(--black);
}

.fill-white {
  fill: var(--white);
}

.strock-white {
  stroke: var(--white);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-red-e84 {
  color: var(--red--e84);
}

.text-gray-77d {
  color: var(--gray--77d);
}

.text-cyan-f2 {
  color: var(--cyan-2f);
}

.bg-white {
  background-color: var(--white);
}

.bg-cyan-2f {
  background-color: var(--cyan-2f);
}

.bg-blue-237 {
  background-color: var(--blue-237);
}

.bg-blue-009 {
  background-color: var(--blue-009);
}

.bg-red-84 {
  background-color: var(--red--e84);
}

.bg-yellow-f5 {
  background-color: var(--yellow-f5);
}

.bg-gray-5f {
  background-color: var(--gray--5f);
}

.bg-gray-161 {
  background-color: var(--gray--161);
}

.bg-gray-77d {
  background-color: var(--gray--77d);
}

.bg-gray-0c1 {
  background-color: var(--gray--0c1);
}

/*=================================================================*/
.image-wrapper {
  position: relative;
  display: block;
  padding-bottom: 56.2%;
}

.image-wrapper img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*=================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*=================================================================*/
.pt-4 {
  padding-top: 0.25rem;
}

.pb-4 {
  padding-bottom: 0.25rem;
}

.pl-4 {
  padding-left: 0.25rem;
}

.pr-4 {
  padding-right: 0.25rem;
}

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-4 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.p-4 {
  padding: 0.25rem;
}

.mt-4 {
  margin-top: 0.25rem;
}

.mb-4 {
  margin-bottom: 0.25rem;
}

.ml-4 {
  margin-left: 0.25rem;
}

.mr-4 {
  margin-right: 0.25rem;
}

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-4 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.m-4 {
  margin: 0.25rem;
}

/*=================================================================*/
.pt-8 {
  padding-top: 0.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-8 {
  padding: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.m-8 {
  margin: 0.5rem;
}

/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-10 {
  margin: 0.625rem;
}

/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.pt-15 {
  padding-top: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.p-15 {
  padding: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.m-15 {
  margin: 0.9375rem;
}

.-mx-15 {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

/*=================================================================*/
.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.pt-24 {
  padding-top: 1.5rem;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.pl-24 {
  padding-left: 1.5rem;
}

.pr-24 {
  padding-right: 1.5rem;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.p-24 {
  padding: 1.5rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-24 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.m-24 {
  margin: 1.5rem;
}

/*=================================================================*/
.border-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.border-4 {
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.border-6 {
  border-radius: 0.375rem;
  overflow: hidden;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

.border-10 {
  border-radius: 0.625rem;
  overflow: hidden;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}

/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.lh-15 {
  line-height: 0.9375rem;
}

.lh-19 {
  line-height: 1.1875rem;
}

.lh-22 {
  line-height: 1.375rem;
}

.lh-24 {
  line-height: 1.5rem;
}

.lh-26 {
  line-height: 1.625rem;
}

.lh-28 {
  line-height: 1.75rem;
}

.lh-30 {
  line-height: 1.875rem;
}

.lh-32 {
  line-height: 2rem;
}

.lh-34 {
  line-height: 2.125rem;
}

.lh-40 {
  line-height: 2.5rem;
}

.lh-46 {
  line-height: 2.875rem;
}

.lh-48 {
  line-height: 3rem;
}

/*=================================================================*/
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-italic {
  font-style: italic;
}

/*=================================================================*/
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-inline {
  display: inline-block;
}

/*=================================================================*/
.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.baseline {
  align-items: baseline;
}

/*=================================================================*/
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

/*=================================================================*/
.gap-16 {
  grid-gap: 1rem;
}

.gap-20 {
  grid-gap: 1.25rem;
}

.gap-30 {
  grid-gap: 1.875rem;
}

/*=================================================================*/
.line {
  width: 100%;
  height: 1px;
  background-color: #222b35;
}

.h-22 {
  height: 1.375rem;
}

.h-32 {
  height: 2rem;
}

.h-38 {
  height: 2.375rem;
}

.h-40 {
  height: 2.5rem;
}

.block-login {
  padding: 50px 30px 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.block-login__heading {
  margin-top: 57px;
}

.login-btn-group {
  margin-top: 64px;
}

.block-login__footer {
  margin-top: auto;
}

html ::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0;
}

html ::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0;
}

html ::-webkit-scrollbar {
  border-radius: 0;
  height: 0;
  width: 0;
}

.custom-scroll-400 {
  max-height: calc(100vh - 400px);
  overflow-y: overlay;
}

.custom-scroll-200 {
  max-height: calc(100vh - 200px);
  overflow-y: overlay;
}

.custom-scroll-100 {
  max-height: calc(100vh - 100px);
  overflow-y: overlay;
}

.block-header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--black);
}
.block-header .left .badge {
  width: 10px;
  height: 10px;
  background-color: var(--red--e84);
  border-radius: 50%;
  position: absolute;
  right: 3px;
  top: 2px;
}
.block-header .heading .logo {
  height: 35px;
}

.block-main {
  margin-top: 15px;
  padding-top: 30px;
  padding-bottom: 45px;
}
.block-main .form-search {
  background-color: var(--gray--0c1);
}
.block-main .form-search .input {
  background: transparent;
  padding: 14px 46px 14px 26px;
}
.block-main .form-search .input::placeholder {
  font-size: 16px;
  color: var(--white);
}
.block-main .form-search .btn-search {
  right: 0;
  background-color: transparent;
  padding: 0 15px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}
.block-main .destination-list {
  margin-top: 28px;
}
.block-main .destination-list .destination-item {
  margin-bottom: 20px;
}
.block-main .destination-list .des {
  margin-top: 5px;
}
.block-main .see-more {
  margin-top: -10px;
}

.block-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--gray--161);
  padding: 7px 26px;
  height: 64px;
  z-index: 999;
}
.block-footer .item {
  color: var(--gray--77d);
}
.block-footer .item.active {
  color: var(--white);
}
.block-footer .item.active .fill {
  fill: var(--white);
}
.block-footer .item.active .strock {
  stroke: var(--white);
}
.block-footer .item .fill {
  fill: var(--gray--77d);
}
.block-footer .item .strock {
  stroke: var(--gray--77d);
}

.block-footer--secondary {
  height: 3rem;
  padding: 0;
}

.block-footer--third {
  background-color: var(--black);
  padding: 0 15px 20px 15px;
}

.icon-white::before {
  color: var(--white);
}

.block-header .heading__text {
  position: relative;
}
.block-header .heading__text::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 39px;
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--white);
}

.destination-list .map {
  z-index: 10;
  left: -40px;
  right: -15px;
  top: 60px;
  padding: 15px;
  background-color: var(--gray--1b);
}
.destination-list .map:not(.active) {
  display: none;
}
.destination-list .map.active {
  display: block;
  animation: scaleDisplay 0.4s ease;
}
.destination-list .map::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 15px;
  width: 27px;
  height: 15px;
  border-bottom: solid 15px var(--gray--1b);
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

.select-list select {
  appearance: none;
  background: transparent;
  font-size: inherit;
  color: inherit;
  max-width: 100%;
  padding: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  /* Remove IE arrow */
}
.select-list select option {
  color: inherit;
  background: inherit;
  font-size: inherit;
  outline: none;
}
.select-list select:focus {
  outline: none;
}
.select-list select::-ms-expand {
  display: none;
}
.select-list .select-item {
  margin-bottom: 20px;
}
.select-list .default-option:not(.active) ~ .select-option {
  display: none;
}
.select-list .default-option.active ~ .select-option {
  display: block;
  animation: scaleDisplay 0.4s ease;
}
.select-list .select-option {
  z-index: 100;
  background-color: var(--gray--1b);
  left: 0;
  top: calc(100% + 20px);
  width: calc(100% + 30px);
}
.select-list .select-option::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 15px;
  width: 27px;
  height: 15px;
  border-bottom: solid 15px var(--gray--1b);
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}
.select-list .select-option .option {
  padding: 14px 15px;
}
.select-list .select-option .option.active:first-child::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 15px;
  width: 27px;
  height: 15px;
  border-bottom: solid 15px var(--gray--34);
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}
.select-list .select-option .option.active {
  background-color: var(--gray--34);
}
.select-list .select-option--secondary {
  padding: 30px 0 10px 0;
}
.select-list .select-option--secondary .divider {
  color: #595959;
  position: relative;
}
.select-list .select-option--secondary .divider::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 88px;
  transform: translateY(-50%);
  width: 72px;
  height: 1px;
  background-color: #595959;
}
.select-list .select-option--secondary .divider::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 88px;
  transform: translateY(-50%);
  width: 72px;
  height: 1px;
  background-color: #595959;
}

textarea {
  padding: 9px 11px;
  color: inherit;
  background: var(--gray--0c1);
  font-size: inherit;
  width: 100%;
}
textarea::placeholder {
  color: inherit;
  font-size: inherit;
}

@keyframes scaleDisplay {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.option-secondary input[type=number] {
  width: 100%;
  height: 100%;
  padding: 2px;
}

.loader {
  margin: auto;
  margin-top: var(--mt-100);
  width: 0;
  height: 0;
  position: relative;
}
.loader div {
  width: 4px;
  height: 15px;
  background-color: var(--white);
  position: absolute;
  left: -10px;
  bottom: 15px;
  border-radius: 5px;
  transform-origin: 10px 35px;
  animation: loader 0.8s infinite;
}
.loader div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: 0.1s;
}
.loader div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: 0.2s;
}
.loader div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: 0.3s;
}
.loader div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: 0.4s;
}
.loader div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: 0.5s;
}
.loader div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: 0.6s;
}
.loader div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0.7s;
}

@keyframes loader {
  0% {
    background: transparent;
    left: -10px;
    transform-origin: 10px 35px;
  }
  30% {
    background: #fff;
  }
  100% {
    background: transparent;
    left: 10px;
    transform-origin: -10px 35px;
  }
}
.loader-bot {
  margin-top: calc(var(--mt-100) + 64px);
}

.see-details img {
  transition: transform 0.4s;
}
.see-details.active img {
  transform: rotate(180deg);
}
.see-details.active ~ .hide-select {
  display: block;
}

.hide-select {
  display: none;
}

.avatar img {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-user-img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

.evaluate-box .list {
  margin-bottom: 130px;
}

.successful-confirmation {
  margin-bottom: 3.75rem;
}
.successful-confirmation .check-icon {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  margin: 30px auto;
  padding: 30px;
}

.contact-driver .item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.contact-driver .item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.success-back-home {
  border: 1px solid var(--white);
  border-radius: 0.25rem;
}

.triple-next-icon {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.expected .expected-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.expected .expected-item:nth-child(2) {
  border-right: 1px solid #222b35;
  border-left: 1px solid #222b35;
}
.expected .expected-item:first-child {
  padding-right: 10px;
}
.expected .expected-item .des {
  flex: 0;
}

.btn-copy {
  right: 0;
}

.suggest-list {
  flex-wrap: wrap;
}

.star-cb-group {
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star-cb-group * {
  font-size: 1.5rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: var(--white);
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: var(--white);
  text-shadow: 0 0 1px var(--white);
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: var(--white);
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: var(--white);
  text-shadow: 0 0 1px var(--white);
}

.list-star-rating {
  flex-wrap: wrap;
}

.your-review,
.mb-120 {
  margin-bottom: 120px;
}

.notification-list .notification-item .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.tabs-box .tab-item {
  background-color: transparent;
  padding: 4px 16px;
  border-radius: 10px;
}
.tabs-box .tab-item.active {
  background-color: var(--black);
}
.tabs-box .tab-pane:not(.active) {
  display: none;
}
.tabs-box .status--warning {
  color: #ffb848;
}
.tabs-box .status--warning svg path {
  fill: #ffb848;
}
.tabs-box .status--success {
  color: var(--cyan-2f);
}
.tabs-box .status--success svg path {
  fill: var(--cyan-2f);
}
.tabs-box .status--danger {
  color: var(--red--e84);
}
.tabs-box .status--danger svg path {
  fill: var(--red--e84);
}
.tabs-box .route {
  position: relative;
}
.tabs-box .dots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}
.tabs-box .dots span {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
}

.panels-item {
  border: 1px solid var(--gray--77d);
  border-radius: 3px;
  height: 32px;
}
.panels-item + .panels-item {
  margin-left: 15px;
}

.block-setting {
  padding-top: 0;
}
.block-setting .setting-container .item {
  border-bottom: 1px solid #222b35;
}
.block-setting .setting-container .item:first-child {
  padding-top: 0;
}
.block-setting .setting-container .item:not(.active) .change-input {
  display: none;
}
.block-setting .setting-container .item.active .img {
  transform: rotate(90deg);
}
.block-setting .setting-container .item .img {
  transition: transform 0.4s;
}
.block-setting .setting-container .btn-save {
  background-color: var(--cyan-2f);
}
.block-setting .setting-container .invalid {
  display: none;
}
.block-setting .setting-container .invalid.active {
  display: block;
}
.block-setting .logout {
  padding: 0;
  border-bottom: 1px solid var(--red--e84);
  height: auto;
}

.img-setting {
  width: 115px;
  height: 115px;
  object-fit: cover;
  border-radius: 50%;
}

.setting-edit-avatar {
  position: absolute;
  right: -4px;
  z-index: 1;
  top: 30px;
}
.setting-edit-avatar input[type=file] {
  display: none;
}
.setting-edit-avatar .label-img {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 4px;
  margin-bottom: 0;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.find-customers input {
  background-color: transparent;
  padding: 0;
}
.find-customers input::placeholder {
  color: var(--gray--77d);
}

.money-table .price {
  max-width: 108px;
  border: 1px solid var(--cyan-2f);
  overflow: hidden;
}
.money-table .price input {
  text-align: end;
}

.referral-link {
  margin-top: 32px;
}
.referral-link .tolltip:not(.active) {
  display: none;
}

.upload-file {
  position: relative;
  overflow: hidden;
  width: calc(100% + 30px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-file img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upload-file .js--image-preview, .upload-file .upload-options {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
.upload-file .upload-options {
  z-index: 3;
}
.upload-file .upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  z-index: 3;
}
.upload-file .upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
