html ::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0;
}
html ::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0;
}
html ::-webkit-scrollbar {
  border-radius: 0;
  height: 0;
  width: 0;
}
.custom-scroll-400 {
  max-height: calc(100vh - 400px);
  overflow-y: overlay;
}
.custom-scroll-200 {
  max-height: calc(100vh - 200px);
  overflow-y: overlay;
}
.custom-scroll-100 {
  max-height: calc(100vh - 100px);
  overflow-y: overlay;
}
.block-header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 999;
  background-color: var(--black);
  & .left {
    img {
      padding: 12px 15px;
    }
  }
  & .heading {
    padding: 12px;
    & .logo {
      height: 35px;
    }
  }
  & .right {
    img {
      padding: 12px 15px;
    }
  }
}
.badge {
  width: 8px;
  height: 8px;
  background-color: var(--red--e84);
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 2px;
}
.block-main {
  margin-top: 15px;
  padding-top: 30px;
  padding-bottom: 45px;

  & .form-search {
    background-color: var(--gray--0c1);

    & .input {
      background: transparent;
      padding: 14px 46px 14px 26px;

      &::placeholder {
        font-size: 16px;
        color: var(--white);
      }
    }

    & .btn-search {
      right: 0;
      background-color: transparent;
      padding: 0 15px;
      height: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  & .destination-list {
    margin-top: 28px;

    & .destination-item {
      margin-bottom: 20px;
    }
    & .des {
      margin-top: 5px;
    }
  }

  & .see-more {
    margin-top: -10px;
  }
}

.block-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--gray--161);
  padding: 7px 26px;
  height: 64px;
  z-index: 999;
  overflow: hidden;

  & .item {
    &.active {
      color: var(--white);
      & .fill {
        fill: var(--white);
      }
      & .strock {
        stroke: var(--white);
      }
    }

    color: var(--gray--77d);
    & .fill {
      fill: var(--gray--77d);
    }
    & .strock {
      stroke: var(--gray--77d);
    }
  }
}

.block-footer--secondary {
  height: 3rem;
  padding: 0;
}
.block-footer--audio {
  height: 4rem;
  padding: 0;
}
.block-footer--third {
  background-color: var(--black);
  // height: 2.5rem;
  padding: 0 15px 20px 15px;
}

.block-footer--map {
  background-color: transparent;
  padding: 0 15px 20px 15px;
}
.icon-white {
  &::before {
    color: var(--white);
  }
}
