.block-login {
  padding: 50px 30px 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.block-login__heading {
  margin-top: 57px;
}
.login-btn-group {
  margin-top: 64px;
}
.block-login__footer {
  margin-top: auto;
}
