.triple-next-icon {
  top: 50%;
  left: 66px;
  transform: translateY(-50%);
}
.expected {
  .expected-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    &:nth-child(2) {
      border-right: 1px solid #222b35;
      border-left: 1px solid #222b35;
    }
    &:first-child {
      padding-right: 10px;
    }
    & .des {
      flex: 0;
    }
  }
}
.btn-claw-primary {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-out;
  &.hide {
    transform: translateX(calc(-100% + 58px));
  }

  .claw-primary__icon {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
}
